* {
    margin: 0;
    padding: 0;
}

.NavBar {
    display: flex; /*to overwrite the property of block level we gove this property so that we can write content in same line */
    background-color: blue; 
    color: #000;
    padding: 10px;
    align-items: center;
}

.logo {
    flex-basis: 30%;
    text-align: center;
    color: rgb(207, 241, 127);
    
}

.menu {
    flex-basis: 70%;
}

.menu ul {     /*it is used to enter the element(ul) of class menu*/
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.menu ul li {
    list-style: none;
    margin-left: 15px;
    font-size: 22px;
    color: #fff;
    
}

.menu ul li a {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 10px;
    
}

.menu ul li a:hover{
    background-color: cornsilk;
    color: blue;
    border-radius: 3px;
    transition:all 0.4s;
}

.container{
    margin:auto; /*remain at center*/
    width: 80%;  /*80% of overall space*/
}

/*.cover{
    background-image: url("img/bg.jpg") ;
    background-repeat: no-repeat;
    background-size: 95% 100%;
    max-width: 100%; 
    height: 600px;
}*/

.cover{
    height: 650px;
    background-image: url("img/bg.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content:center; /*place content horizontally in center*/
    align-items: center;    /*place vertically at center*/
}



.cover input[type="text"]{
    width: 50%;
    padding: 10px;
    padding-right: 60px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.4); /*last arg is alpha 0.0 means fully transparent and 1.0 means fully opaque*/
    border: 2px solid #fff;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
    outline: none;
    font-size: 25px;
}

.cover input[type="button"]{
    width: 10%;
    padding: 10px;
    font-size: 25px;
    margin-left: 10px; /*left some space from the left*/
    background-color: rgb(126, 166, 240);
    color: #fff;
    text-transform: capitalize;
    border-radius: 10px;
}

.car-view{
    display: flex;   
    flex-wrap: wrap; /*it shift the images in next row if the width is full thats why we place 4 car images of 25% each in one row*/ 
}

.item{
    flex-basis: 25%;   /*item should acquire 25% from its parent*/ 
    text-align:center;
    margin-top: 10px;
}

.item img{            /*property for single image*/
    width: 80%;     /*width should be of 80% of its parent container(item below cover part)*/
}

.footer{
    background-color: rgb(107, 107, 216);
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding:5px
}

.productDetails-main{ /*ek line me lane ke liye*/
    display:flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.productImage{
    flex-basis: 50%;
}

.productImage img{
    width: 80%;
}

.productDetail{
    flex-basis: 50%;
}

.productDetail input[type="submit"]{

   /* padding: 15px;
    font-size: 20px;
    
    background-color: rgb(126, 166, 240);
    color: #fff;
    transition: all 0.4s;
    border-radius: 10px; */
    background-color: blue;
    color: cornsilk;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
}

/*.productDetail input[type="submit"]:hover{ /*to give hover property to button /*cursor badl jaye button  prr jate hi */*/
/*    background-color: #fff;
    color:blue;
    border-color: blue;
    cursor:pointer; 

}*/

.productDetail-other p{
    text-align: justify;
}

.gap-10{
    clear:both;
    margin-top: 20px;
}

.login-main{
    margin: auto;/*sirf isse  center me nhi aaega kyuki login-main ne puri space khaa rakhi he*/
    width: 400px;/*we give it some width so it doesnt occupy full width so it comes in center*/
    border: 2px solid blue;
    padding: 10px;
    margin-top: 25px;
    
}

.login-main h1{
    text-align: center;
    background-color: rgb(82, 137, 238);
    color: cornsilk;
    padding: 5px;
}

.form-row{
    margin-top:10px;
    margin-bottom: 10px;
}

.form-row label{
    font-size: 20px;
    

}

.form-row input[type="text"]{
    padding: 7px;
    width: 100%;
    box-sizing: border-box;  /*100% width border lene ke baad calc krre*/
    margin: 3px;
    border-radius: 3px;

}

.form-row input[type="password"]{
    padding: 7px;
    width: 100%;
    box-sizing: border-box;  /*100% width border lene ke baad calc krre*/
    margin: 3px;
    border-radius: 3px;

}

.form-row input[type="submit"]{
    background-color: blue;
    color: cornsilk;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;

}

.form-row input[type="reset"]{
    background-color: blue;
    color: cornsilk;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    
}

.text-center{
    text-align: center;
}

.button-hover{
    background-color: #fff;
    color:blue;
    border-color: blue;
    cursor:pointer;
}

.form-element{
    padding: 7px;
    width: 100%;
    box-sizing: border-box;  /*100% width border lene ke baad calc krre*/
    margin: 3px;
    border-radius: 3px;
}

.signup-main{
    flex-basis: 60%;
    margin-top:  10px;
}
.signup-main h1{
    text-align: center;
    background-color: rgb(82, 137, 238);
    color: cornsilk;
    padding: 5px;
}

.signup-wrapper{
    display: flex;

}

.signup-image{
    flex-basis: 30%;
    margin-left: 25px;
    margin-top: 20px;
}

.car-image{
    border: 1px solid #000;
    height: 250px;
    width: 200px;

}

.Selling-heading h1{
    text-align: center;
    background-color: rgb(82, 137, 238);
    color: cornsilk;
    padding: 5px;
    margin-top: 20px;
}

.contactUsWrapper{
    display: flex;
    margin-top: 20px;


}

.contactUsMap{
    flex-basis: 60%;   /*we use this instead of width inside flex box*/
}

.contactUsAddress{
    flex-basis: 30%;
    text-align:right;
}

.contactUsForm{
    width: 50%;
    margin-top: 10px;

}

.admin-wrapper{
    display: flex;

}

.admin-sidebar{
    flex-basis: 20%;
    background-color: rgb(56, 116, 196);
    height: 100vh;

}

.admin-sidebar ul{
    list-style:none
}
.admin-sidebar ul li{
    text-align: center;
    padding: 5px;
    font-size: 25px;
    margin-top: 10px;
    color: white;
}
.admin-sidebar ul li a{
    color: inherit;
    text-decoration: none;
    display: block;  /*puri space occupy kr le line ki*/
    transition: 0.3s;
}
.admin-sidebar ul li a:hover{
    background-color: white;
    color: rgb(56, 116, 196);
}

.admin-mainContent{
    flex-basis: 80%;
    margin-top: 10px;
    background-color: lightyellow;
    padding-left: 10px;
    padding-right: 10px;
}
.admin-mainContent h1{
    text-align: center;
    color:rgb(56, 116, 196);
}

.admin-form{
    width: 50%;
}

.admin-table{
    margin-top: 20px;
    margin-bottom: 10px;
}

.admin-table table{
    
    width: 100%;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}
.admin-table table th{
    background-color: mediumblue;
    color: white;
}

